.main-cover {
    display: flex;
    /* justify-content: center; */
    margin-top: 5em;
}

.cover-img {
    border-radius: 20px;
    margin-left: 3em;
}

.main-name {
    text-align: center;
    margin-left: 2em;
    padding-top: 3em;
}

.main-desc {
    padding-top: 2.2em;
    width: 73%;
    text-align: center;
    margin: 0 auto;
}

.main-description {
    text-align: center;
    padding-top: 2em;
}

.main-audio {
    height: 3vh;
}

.audio-container {
    margin-top: 2em;
    margin-left: 3em;
}