.artistsList {
    width: 100%;
    display: flex;
}
.artist {
    height: 100px;
    width: 150px;
    border: black 1px solid;
    margin: 5px;
    text-align: center;
    padding: 50px 10px 0 10px;
    background-image:linear-gradient(60deg, grey, black);
}
a {
    color: #1ED760;
    text-decoration: none;
}